{% extends 'base.html' %}

{% load staticfiles %}
{% block contenido %}
<html>	
    <head>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/static/css/materialize.css"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <!-----------------------------------------------| IMPORTAR |-------------------------------------------------------------->
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="/static/css/materialize.css">
        <div class="center-align">
            </head>
        <body class="red">
            <br>
            <br>

            {% for post in posts %}
            <div class="post-preview">
                <a href="{% url 'nano:vermipost' post.id %}">
                    <h2 class="post-title">
                        {{post.titulo}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{post.resumen}}
                    </h3>
                            		<img src="/static/img/separador.png"> <br>

                </a>
            </div>
            {% endfor %}

            <script type="text/javascript" src="js/jquery-1.11.3.js"></script>
            <script type="text/javascript" src="js/materialize.js"></script>
        </body>
{% endblock %}  
