{% extends 'base.html' %}

{% load staticfiles %}
{% block contenido %}


<html>	
    <head>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/static/css/materialize.css"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <!-----------------------------------------------| IMPORTAR |-------------------------------------------------------------->
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="/static/css/materialize.css">
        
       <div class="center-align">
            <body class="red">

                <script type="text/javascript" src="js/jquery-1.11.3.js"></script>
                <script type="text/javascript" src="js/materialize.js"></script>
                <br>
                <br>
<h1><center><font face="KG Sorry Not Sorry" size="9">Tomas Larguro</font><br/></center></h1>
                
		<img src="/static/img/portada.png" height="400" width="700"> <br>
                    <p><center><font face="Watermak" size="3">.“No soy un ciclista sólo en el sentido de que viajo en bicicleta, lo soy en el mismo sentido en que algunas personas son socialistas, fundamentalistas cristianos o realistas éticos; es decir el ciclismo es mi ideología, un sistema de creencia sobre la base de la pureza y la economía de movimiento y generosidad con el ambiente… y quiero convertir a otros”. Robert Hanks.</font>s<br/></center></p>

                <br>
                
                

                <h1><center><font face="KG Sorry Not Sorry" size="9">Michael Phelps</font><br/></center></h1>
                                		<img src="/static/img/michael.png" height="400" width="700"> <br>

                    <p><center><font face="Watermak" size="3">"Tengo la oportunidad de ser parte de la historia de la natación. Llevar el deporte a un nuevo nivel sería un honor para mí. No hay mejor momento para intentar esto que ahora."</font><br/></center></p>
                
                           
                <h1><center><font face="KG Sorry Not Sorry" size="9">Ginobili</font><br/></center></h1>
                                                		<img src="/static/img/manu.png" height="400" width="700"> <br>

                    <p><center><font face="Watermak" size="3">"No preguntes qué puede hacer por ti el equipo. Pregunta qué puedes hacer tú por él"</font><br/></center></p>


                
                
                

                    </div>
            
{% endblock %}
